[user]
	name = Kasia Kedzierska
	email = 31040515+kzkedzierska@users.noreply.github.com
[core]
	editor = vim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
